* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/pexels-photo.jpg");
    font-family: 'Josefin Sans', sans-serif;
}

#js-coffee {
    font-family: "Pacifico", curisve, serif;
    font-size: 30px;
    position: absolute;
}

#container {
    background-color: #BA512F;
    border-radius: 25px;
    border: 2px solid white;
    animation: bg-animate 10s infinite linear;
}

@keyframes bg-animate {
    0%, 100% {
        background-color: #BA512F
    }
    50% {
        background-color: #7d2111;
    }
}

#coffees, .coffee-card {
    background-color: #C18242;
    border-radius: 25px;
    border: 2px solid white;
    animation: bg-animaty 10s infinite;
}

@keyframes bg-animaty {
    0%, 100% {
        background-color: #C18242
    }
    33% {
        background-color: whitesmoke;
        transform: rotate(1deg);
    }
    66% {
        background-color: #c18242;
        transform: rotate(-1deg);
    }
}

.mr-4 {
    color: black;
    font-size: 20px;
}

.navbar {
    height: 6vw;
    background-color: #9F4333;
}

#submit {
    border-radius: 5px;
    width: 100px;
    height: 23px;
}

#submitNewCoffee {
    border-radius: 5px;
    width: 100px;
    height: 23px;
}

label {
    padding: 0;
    margin: 0;
}

#footer {
    background-color: #9f4333;
    height: 150px;
    position: absolute;
    color: white;
}

#silo {
    height: 200px;
}
