* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/pexels-photo.jpg");
    font-family: 'Josefin Sans', sans-serif;
}

#js-coffee {
    font-family: "Pacifico", curisve, serif;
    font-size: 30px;
    position: absolute;
}

#container {
    background-color: #BA512F;
    border-radius: 25px;
    border: 2px solid white;
}

#coffees, .coffee-card {
    background-color: #C18242;
    border-radius: 25px;
    border: 2px solid white;
}

.mr-4 {
    color: black;
    font-size: 20px;
}

.navbar {
    height: 6vw;
    background-color: #9F4333;
}

#submit {
    border-radius: 5px;
    width: 100px;
    height: 23px;
}

#submitNewCoffee {
    border-radius: 5px;
    width: 100px;
    height: 23px;
}

label {
    padding: 0;
    margin: 0;
}

#footer {
    background-color: #9f4333;
    height: 150px;
    position: absolute;
    color: white;
}

#silo {
    height: 200px;
}
